[submodule "vcpkg"]
	path = vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "vendor/ritTimer"]
	path = vendor/ritTimer
	url = https://github.com/ritchielrez/ritTimer
[submodule "vendor/ECS"]
	path = vendor/ECS
	url = https://github.com/ritchielrez/ECS
